package pages

type About struct{
	header templ.Component
	body templ.Component
}

func NewAbout() About {return About{header: aboutHeader(), body: aboutBody()}}

func (p About) Header() templ.Component {return p.header}
func (p About) Body() templ.Component {return p.body}

templ aboutHeader() {
}

templ aboutBody() {
	<p>This is the about page</p>
}